<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreMvcModalForm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/lib/datatables-rowgroup/css/rowGroup.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/datatables-responsive/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/datatables-buttons/css/buttons.bootstrap5.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreMvcModalForm.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspNetCoreMvcModalForm</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Solicitacao" asp-action="Index">Solicitações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoSolicitacao" asp-action="Index">Tipos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AspNetCoreMvcModalForm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-rowgroup/js/dataTables.rowGroup.min.js"></script>
    <script src="~/lib/datatables-rowgroup/js/rowGroup.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-rowsgroup/dataTables.rowsGroup.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/datatables-sum/js/sum().js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>

    <script src="~/lib/jquery-price-format/jquery.priceformat.min.js"></script>
    <script src="~/lib/numeral.js/numeral.min.js"></script>
    <script src="~/lib/numeral.js/locales.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/moment.js/moment-with-locales.js"></script>
    <script>
        numeral.locale('pt-br');
        moment.locale("pt-br");
    </script>
    
    <script src="~/lib/chart.js/chart.min.js"></script>
    <script src="~/lib/chart.js/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/lib/chart.js/chartjs-plugin-autocolors.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
