@model AspNetCoreMvcModalForm.Business.Models.Solicitacao

@{ Layout = null; }

<vc:summary></vc:summary>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" onsubmit="return jQueryModalPost(this);">
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control price" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="TipoSolicitacaoId" class="control-label"></label>
                        <select asp-for="TipoSolicitacaoId" class="form-control" asp-items="@(new MultiSelectList(ViewBag.Tipos, "Id", "Descricao"))"><option></option></select>
                        <span asp-validation-for="TipoSolicitacaoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <a data-element-reload="#TipoSolicitacaoId" onclick="jQueryModalGet(this, '@Url.Action("Create", "TipoSolicitacao")', 'Novo Tipo de solicitação', 'modalTipoSolicitacao')" class="btn btn-primary text-white form-control"><i class="fas fa-plus"></i> </a>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" language=javascript>
    FormataCurrency();
    $.validator.unobtrusive.parse(document);
</script>